<a href="https://colab.research.google.com/github/lflambert/Biomechanical-features-pelvic/blob/master/bio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import pylab as pl
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt
import os

In [5]:
from google.colab import files
uploaded = files.upload()

Saving column_2C_weka.csv to column_2C_weka (2).csv

In [0]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['column_2C_weka.csv']))
# Dataset is now stored in a Pandas Dataframe

In [7]:
df2.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis     class
0         63.027818            22.552586  ...                 -0.254400  Abnormal
1         39.056951            10.060991  ...                  4.564259  Abnormal
2         68.832021            22.218482  ...                 -3.530317  Abnormal
3         69.297008            24.652878  ...                 11.211523  Abnormal
4         49.712859             9.652075  ...                  7.918501  Abnormal

[5 rows x 7 columns]

In [8]:
#List missing data for first five rows
missing_data = df2.isnull()
missing_data.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis  class
0             False                False  ...                     False  False
1             False                False  ...                     False  False
2             False                False  ...                     False  False
3             False                False  ...                     False  False
4             False                False  ...                     False  False

[5 rows x 7 columns]

In [9]:
# List data with missing values
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

pelvic_incidence
False    310
Name: pelvic_incidence, dtype: int64

pelvic_tilt numeric
False    310
Name: pelvic_tilt numeric, dtype: int64

lumbar_lordosis_angle
False    310
Name: lumbar_lordosis_angle, dtype: int64

sacral_slope
False    310
Name: sacral_slope, dtype: int64

pelvic_radius
False    310
Name: pelvic_radius, dtype: int64

degree_spondylolisthesis
False    310
Name: degree_spondylolisthesis, dtype: int64

class
False    310
Name: class, dtype: int64

In [0]:
#Replace Abnormal with 1 (integer) to work with skitlearn
df2["class"].replace("Abnormal", 1, inplace=True)

In [0]:
#Replace Abnormal with 0 (integer) to work with skitlearn
df2["class"].replace("Normal", 0, inplace=True)

In [12]:
df2.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis  class
0         63.027818            22.552586  ...                 -0.254400      1
1         39.056951            10.060991  ...                  4.564259      1
2         68.832021            22.218482  ...                 -3.530317      1
3         69.297008            24.652878  ...                 11.211523      1
4         49.712859             9.652075  ...                  7.918501      1

[5 rows x 7 columns]

In [13]:
print(df2)

     pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis  class
0           63.027818            22.552586  ...                 -0.254400      1
1           39.056951            10.060991  ...                  4.564259      1
2           68.832021            22.218482  ...                 -3.530317      1
3           69.297008            24.652878  ...                 11.211523      1
4           49.712859             9.652075  ...                  7.918501      1
5           40.250200            13.921907  ...                  2.230652      1
6           53.432928            15.864336  ...                  5.988551      1
7           45.366754            10.755611  ...                -10.675871      1
8           43.790190            13.533753  ...                 13.289018      1
9           36.686353             5.010884  ...                  0.664437      1
10          49.706610            13.040974  ...                 -7.825986      1
11          31.232387            17.715819  ...                  0.499751      1
12          48.915551            19.964556  ...                  8.028895      1
13          53.572170            20.460828  ...                  7.044803      1
14          57.300227            24.188885  ...                  5.766947      1
15          44.318907            12.537992  ...                  5.415825      1
16          63.834982            20.362507  ...                 -0.622527      1
17          31.276012             3.144669  ...                  3.623020      1
18          38.697912            13.444749  ...                  1.429186      1
19          41.729963            12.254074  ...                 -1.244402      1
20          43.922840            14.177959  ...                  6.451648      1
21          54.919443            21.062332  ...                  2.432561      1
22          63.073611            24.413803  ...                 15.779697      1
23          45.540790            13.069598  ...                 -4.987130      1
24          36.125683            22.758753  ...                 -3.237562      1
25          54.124920            26.650489  ...                  1.571205      1
26          26.147921            10.759454  ...                -10.093108      1
27          43.580964            16.508884  ...                  8.992816      1
28          44.551012            21.931147  ...                  2.652321      1
29          66.879211            24.891999  ...                 -2.005892      1
..                ...                  ...  ...                       ...    ...
280         50.086153            13.430044  ...                  3.089484      0
281         64.261507            14.497866  ...                  5.951454      0
282         53.683380            13.447022  ...                  2.737035      0
283         48.995958            13.113820  ...                  0.535472      0
284         59.167612            14.562749  ...                  2.830504      0
285         67.804694            16.550662  ...                  4.867540      0
286         61.734875            17.114312  ...                  3.087726      0
287         33.041688            -0.324678  ...                  9.354365      0
288         74.565015            15.724320  ...                  0.599247      0
289         44.430701            14.174264  ...                 -3.604255      0
290         36.422485            13.879424  ...                  0.179717      0
291         51.079833            14.209935  ...                  6.905090      0
292         34.756738             2.631740  ...                 -0.460894      0
293         48.902904             5.587589  ...                 19.854759      0
294         46.236399            10.062770  ...                 -5.100053      0
295         46.426366             6.620795  ...                  2.449382      0
296         39.656902            16.208839  ...                 -4.968980      0
297         45.575482            18.759135  ...                  3.131910      0
298         66.507179            20.897672  ...                  1.517203      0
299         82.905351            29.894119  ...                  6.079338      0
300         50.676677             6.461501  ...                 -0.214711      0
301         89.014875            26.075981  ...                  6.061508      0
302         54.600316            21.488974  ...                 -1.471067      0
303         34.382299             2.062683  ...                 -3.365516      0
304         45.075450            12.306951  ...                 -8.941709      0
305         47.903565            13.616688  ...                 -4.245395      0
306         53.936748            20.721496  ...                 -0.421010      0
307         61.446597            22.694968  ...                 -2.707880      0
308         45.252792             8.693157  ...                  0.214750      0
309         33.841641             5.073991  ...                 -0.199249      0

[310 rows x 7 columns]

In [0]:
#Divide data into attributes and labels
X = df2.iloc[:, 0:6].values
y = df2.iloc[:, 6].values

In [0]:

# Divide the data into training and testing sets:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
#Training the Algorithm

from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(n_estimators=200, random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [19]:
#Evaluating the Algorithm

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[13  6]
 [ 6 37]]
              precision    recall  f1-score   support

           0       0.68      0.68      0.68        19
           1       0.86      0.86      0.86        43

    accuracy                           0.81        62
   macro avg       0.77      0.77      0.77        62
weighted avg       0.81      0.81      0.81        62

0.8064516129032258